<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="assets/js/map.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body onload="if_gmap_init();">

    <h1>FuF Tree Recommender</h1>
    <p>Select a location on the map to get tree recommendations</p>
    <div id="selector-map" style="width: 480px; height: 540px"></div>
    <div>
      <input type=text value="-122.445374" id="longval">
      <input type=text value="37.757959" id="latval">
    </div>
    <input type=button value="Jump to location" onclick="if_gmap_loadpicker();">

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
