<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/js/map.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js {%- if key -%} ?key={{ key }} {%- endif -%}"></script>
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body onload="if_gmap_init();">

    <h1>FuF Tree Recommender</h1>
    <p>Select a location on the map to get tree recommendations</p>
    <div style="width: 100%">
      <div style="float: left;">
        <div id="selector-map" style="width: 480px; height: 540px"></div>
      </div>
      <div style="padding-left: 1em; float: left;">
        <div>
          <input type=text value="-122.445374" id="longval">
          <input type=text value="37.757959" id="latval">
        </div>
        <input type=button value="Jump to location" onclick="if_gmap_loadpicker();">

        <div id="tree-recommendation"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
</html>
